* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

/*батьківський блок*/
.parent {
    height: 1200px;
    width: 1200px;
    background: #e63a3a;

}
/*бічна панель*/
.sidebar {
    background: yellow;
}
/*заголовок бічної панелі*/
.sidebarheader {
    height: 120px;
    background: lime;
}
/*меню бічної панелі*/
.sidebarmenu {
    overflow: auto;
}
/*блоки в бічній панелі*/
.bloc {
    width: 200px;
    height: 100px;
    background: #5e381d;
    margin-bottom: 10px;
}
/*правий основний блок */
.container {
    flex-basis: 100%;
    margin-left: 10px;
}
/* жовтий блок */
.header {
    min-height: 150px;
    background: #e6f270;
}
/* рожеві блоки*/
.content {
    background: violet;
}
/*сині блоки*/
.content2 {
    background: blue;
}
/*зелений блок*/
.footer {
    background: #65fd89;
}

.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
.m-h-350{
    min-height: 350px;
}
.m-r-10 {
    margin-right: 10px;
}
.m-b-10{
    margin-bottom: 10px;
}
.p-10{
    padding: 10px;
}
.d-f{
    display: flex;
}
.f-d-c{
    flex-direction: column;
}

