* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

.parent {
    width: 1000px;
    height: 1000px;
    background: #c33bb6;

}

.size-gr {
    height: 100%;
    flex-basis: 50%;
    flex-grow: 1;

}

.size-ye {
    flex-basis: 33.333%;
    width: 33.333%;
    height: 100%;

}

.size-bl {
    width: 100px;
    height: 100px;

}

.bg-gr {
    background: green;

}

.bg-ye {
    background: yellow;
}

.bg-bl {
    background: blue;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.j-c-s-b {
    justify-content: space-between;
}

.j-c-e {
    justify-content: end;
}

.a-c-s-b {
    align-content: space-between;
}

.a-i-f-e {
    align-items: flex-end;
}

.p-10 {
    padding: 10px;
}

.m-b-10 {
    margin-bottom: 10px;
}

/*.m-r-l-10{*/
/*    margin: 0px 10px 0px;*/
/*}*/
.d-flex {
    display: flex;
}

.d-i-grid {
    display: inline-grid;
}


