* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

.parent {
    width: 1000px;
    height: 1000px;
    background: orange;
}

.yellow {
    background: #ffff76;

}

.red {
    background: red;
}

.red :nth-child(odd) {
    align-self: end;
}

.gr-size {
    height: 100px;
}

.gr-back {
    background: limegreen;
}

.turquoise {
    height: 140px;
    background: turquoise;
}

.blue {
    height: 100px;
    width: 100px;
    background: blue;
}

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.f-b-50 {
    flex-basis: 50%;
}

.j-s-f-e {
    justify-content: flex-end;
}

.p-10 {
    padding: 10px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-10 {
    margin: 10px;
}

.f-g-1 {
    flex-grow: 1;
}